*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables/colores';
@import './variables/typo';
@import './variables/extend';

@import './secciones/header';
@import './secciones/main';
@import './secciones/footer';
